{
{% if caso_vos %}
{% for vo, projects in caso_vos.iteritems() %}
    "{{ vo }}": {
        "projects": ["{% if projects is string %}{{ projects }}{% else %}{{ projects | join("\", \"")}}{% endif %}"]
    }
    {%- if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
}
